@import url("https://fonts.googleapis.com/css?family=Advent+Pro:100,200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Allan:400,700");
@import url("https://fonts.googleapis.com/css?family=Armata:400");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400i,600,600italic,700,700italic,800,800italic");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,400,400i,500,500italic,700,700italic");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed:400");
html {
    font-family: sans-serif;
}

body {
    font-family: "Advent Pro";
    font-size: 30px;
    color: #f58231;
    background-color: #31a3f5;
    line-height: 1.735;
    font-weight: 300;
    font-style: oblique;
    margin: 0;
    padding: 0;
}

p {
    margin-top: 1em;
    margin-bottom: 1.5em;
}

a {
    color: #fff;
}

a:hover {
    font-size: 2rem;
    color: #000;
    transition: 250ms;
}

.start-details {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-style: normal;
}

.start-details span {
    font-style: oblique;
    font-weight: 600;
}

.sub-heading {
    font-family: "Open Sans";
    font-size: 2.25rem;
    color: #333;
    /* text-shadow: 2px 2px #fff; */
    font-weight: 700;
    margin: 0;
    transition: 0.25s;
    margin-bottom: 3rem;
}

.sub-heading:hover {
    color: #fff;
    text-shadow: 2px 2px #333;
    letter-spacing: 1rem;
    transition: 0.5s;
}

.top {
    margin: 0;
    padding: 0;
    margin-bottom: -3rem;
    font-size: 10rem;
    font-weight: 900;
    font-style: normal;
}

.bio {
    color: #000;
}

.bio span {
    color: #f58231;
    font-weight: 600;
    font-style: oblique;
}

#svg {
    margin-bottom: -50rem;
}

.time {
    font-weight: 900;
    font-style: normal;
}

.edu {
    font-style: normal;
}

.sub-sub {
    color: #fff;
    font-size: 3rem;
    font-style: normal;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.grid-top {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
}

.grid-top {
    color: #000;
}

.fab,
.fa,
.fas {
    font-size: 2rem;
}

.skills span {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
}

.fa-ellipsis-v {
    color: #000;
}